<h2>User List</h2>

<div *ngIf="a && a.length > 0; else noData">
    <div *ngFor="let item of a; let i = index" class="user-card">
        <p>
            <span class="user-index">{{ i + 1 }}.</span>
            <span class="username">{{ item.username }}</span>
            <button (click)="deleteUser(item._id)">Delete</button>
            <button (click)="editUser(item)">Edit</button>
        </p>
    </div>
</div>
<ng-template #noData>
    <p class="no-data">No data found.</p>
</ng-template>
<form *ngIf="i">
    <input type="text" name="username" [(ngModel)]="userData.username">
    <button type="submit" (click)="submitEdit()">Submit</button>
</form>